aniso8601==7.0.0
asgiref==3.2.7
attrs==19.3.0
autobahn==20.4.2
Automat==20.2.0
cffi==1.14.0
channels==2.4.0
constantly==15.1.0
cql==1.4.0
cryptography==2.9
daphne==2.5.0
Django==3.0.4
graphene==2.1.8
graphene-django==2.9.0
graphql-core==2.3.1
graphql-relay==2.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
promise==2.3
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pytz==2019.3
Rx==1.6.1
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.1
thrift==0.13.0
Twisted==20.3.0
txaio==20.4.1
zope.interface==5.1.0
